*{
    font-family: Roboto Mono;
    color: #2336d3;

}

html{
    cursor: url(./img/Cursor1.png),auto;
}




header{
    height: 200px;
    background-color: #ffffff;
    text-align: justify;
    border-bottom: 5px solid #f30008;
}


h1{
    color:#f30008;
    font-family: Work Sans;
    padding-left: 45.5%;
    padding-top: 2%;
}


h2{
    color: black;
}

h3{
    background-color: #2336d3;
    color: #ffffff;
}

nav{
    background-color: #ffffff;
}


main{
    height: auto;
    text-align: justify;

}

main button{
    float: right;
    margin-top: 5%;
    background-color: #2336d3;
    color: #ffffff;
    border: 0;
}

main img{
    max-width: 80%;
}

main div section{
    height: auto;
}


nav{
        cursor: url(./img/Cursor2.png),auto;
}

nav input{
    border: 0;
}

input{
    cursor: url(./img/Write.png),auto;;
}


aside{
    height: auto;


}

aside nav{
    color: black;
}

aside section{
    height: auto ;

}

aside li ul{
    padding-inline-start: 20px;
}

aside img{
    width: 200px;
    padding-left: 20%;
}

footer{
    height: auto;
    background-color: #ffffff;
}




main section h5{
    color: #ffffff;
    background-color: #f30008;
    width: fit-content;
}