*{
    font-family: Roboto Mono;
    color: #2336d3;
}

header{
    height: 200px;
    background-color: #ffffff;
}

h1{
    color:#f30008;
    font-family: Work Sans;

}

nav{
    background-color: #ffffff;
}



main{
    background-color:blue;
    height: auto;
}

main div section{
    height: auto;
    background-color: green;
}

aside section:nth-child(2){
    background-color: hotpink;
}

aside{
    height: auto;
    background-color: wheat;
}

aside section{
    height: auto ;
    background-color: black;
}

aside li ul{
    padding-inline-start: 20px;
}

footer{
    height: auto;
    background-color: #ffffff;
}


https://huemint.com/website-3/#palette=ffffff-eae6db-ec1c43-2336d3-f30008-2fef49